:root {
    --blanco : #ffff;
    --oscuro : #212121;
    --primario : #FFC107;
    --secundario : #0097A7;
    --gris : #757575;
}


/*globales*/ 
html {
    font-size:62.5%;
    box-sizing: inherit;
    /*scroll-snap-type: y mandatory;*/
}

body{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace, sans-serif;
}

.header2 {
    background-image: url(../assets/cusco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .header__texto
  {
      color:var(--blanco);
      text-align: center;
  
  }

h2,h3{
    text-align: center;
}

img {
    max-width: 100%;
    align-self: center;
}

.titulo{
    text-align: center;
}

.header__logo{
    margin: 3rem 0;
  
}

/*Menú*/ 
#menu{
	font-family: Helvetica, Arial;
	background: #333;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#menu ul{
	line-height: 46px;
	list-style: none;
}

#menu ul li{
	height: 46px;
	display: inline-block;
}

#menu a{
	display: block;
	color:white;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}

.contenedor {
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
}

.navegacion{
   background-color:var(--oscuro);
   color : var(#ffff);
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.navegacion__enlace
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
     
}
.navegacion
{
    padding: 1rem;
}

.navegacion__enlace:hover
{
    color: var(--primario);
}

@media (min-width : 480px){
    .navegacion{
        flex-direction: row;
    }
}
    
@media (min-width : 480px){
        .navegacion__enlace{
            flex-direction: row;
        }
    }

@media (min-width: 480px)
{
    body{
        background-color: var(--gris);
    }
}




/**cabecera **/
.preset1
{
    background-image: url(../assets/modelo3.jpg);
    background-size: cover;
    height: 450px;
    color:white;
    position: relative;
}

.presethija{
    position: absolute;
    background-color: rgba(0, 0, 0, .78);/**anterior**/
    width: 100%;
    height: 100%;
    
}

@media (min-width: 480px)
{
    .preset1{
        flex-direction: row;
    }
}



*, *:before, *:after {
    box-sizing: inherit;
  }
  .boton
{
    background-color:gray;
    color : white;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    text-align: center;
}


/**.header
,.navegacion ,.servicios{
    scroll-snap-align: center;
    scroll-snap-stop: always;
} **/


/** Servicios **/

.servicios{
    display: grid;
    /*height: 400px;*/
   /** grid-template-columns:1fr 1fr 1fr;**/
   grid-template-columns: repeat(3,1fr); 
   grid-template-rows: 200px 800px;
   column-gap: 5rem;

}










.contacto {
    text-align: center;
}

/**footer **/

.footer 
{

    text-align: center;
}













* {
    box-sizing: border-box;
  }
  
  .row
  {

    margin-left: 220px;
    margin-right: 220px;
  }
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }



  .social-icons li {
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
  }

  .footer1
{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.social-icons li {
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
  }

  #l1 li{
    display:list-item;
    list-style:none;
  }
  
  #l2 li{
    display: inline;
  }
  
  #l2{
    margin-left:50px;
    margin-top:100px;
  }